code/nodered-edge/flows.json
[
    {
        "id": "b667b205bc64704e",
        "type": "tab",
        "label": "Subscriber",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f05951ba788199f",
        "type": "tab",
        "label": "Health",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5a6f546862acaaca",
        "type": "mqtt-broker",
        "name": "mqtt-broker",
        "broker": "iot-edge-mqtt-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ad063c1b850f955",
        "type": "global-config",
        "env": [
            {
                "name": "API_BASE_URL",
                "value": "https://130.251.61.98/api/nodered",
                "type": "str"
            },
            {
                "name": "API_KEY",
                "value": "super-secret-apikey",
                "type": "str"
            },
            {
                "name": "GLYCEMIC_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "GLYCEMIC_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "HEART_RATE_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "HEART_RATE_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_DIA_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_DIA_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "BODY_TEMPERATURE_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "BODY_TEMPERATURE_MAX",
                "value": "250",
                "type": "str"
            },
            {
                "name": "RESPIRATORY_RATE_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "RESPIRATORY_RATE_MAX",
                "value": "120",
                "type": "str"
            },
            {
                "name": "SPO2_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "SPO2_MAX",
                "value": "100",
                "type": "str"
            },
            {
                "name": "DEVICE_ID",
                "value": "device-1",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_SYS_MIN",
                "value": "0",
                "type": "str"
            },
            {
                "name": "BLOOD_PRESSURE_SYS_MAX",
                "value": "200",
                "type": "str"
            },
            {
                "name": "API_KEY",
                "value": "JdhLhlekl6p9XTE7",
                "type": "str"
            }
        ],
        "modules": {
            "node-red-contrib-redis": "1.4.0",
            "node-red-contrib-full-msg-json-schema-validation": "1.1.0"
        }
    },
    {
        "id": "fdba33394fbf0491",
        "type": "redis-config",
        "name": "Local",
        "options": "{\"host\":\"redis\",\"port\":6379,\"db\":0}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "03dec6a6659dc2f3",
        "type": "mqtt in",
        "z": "b667b205bc64704e",
        "name": "",
        "topic": "vitals/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5a6f546862acaaca",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 480,
        "wires": [
            [
                "eefbfe02433ade69"
            ]
        ]
    },
    {
        "id": "e73cf6ae266459fa",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "bp_sys",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/bp_sys",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 360,
        "wires": [
            [
                "9ad1df8746066cc4"
            ]
        ]
    },
    {
        "id": "437605c0f9c451e7",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "body_temperature",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/temp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "b925abb00ac52146"
            ]
        ]
    },
    {
        "id": "4cf09623b6067874",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "respiratory_rate",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/rr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 780,
        "wires": [
            [
                "9cba47fe2373e035"
            ]
        ]
    },
    {
        "id": "6ef4bbe8a0c417d0",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "heart_rate",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/hr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 200,
        "wires": [
            [
                "c013f4adffbbc5e4"
            ]
        ]
    },
    {
        "id": "1dc6115f51ef6f06",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "spo2",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/spo2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 920,
        "wires": [
            [
                "dbcaada2a8fdc10f"
            ]
        ]
    },
    {
        "id": "391af5fd71e431a6",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "glycemic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/gluco",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 80,
        "wires": [
            [
                "7f0021e351573cda"
            ]
        ]
    },
    {
        "id": "7ad0d9045ab11f3d",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"GLYCEMIC_MIN\"));\nconst maxVal = parseFloat(env.get(\"GLYCEMIC_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\n\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 80,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "3b34c0e8822bfab6",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"HEART_RATE_MIN\"));\nconst maxVal = parseFloat(env.get(\"HEART_RATE_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 200,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "97537ab81ce50e2a",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"BLOOD_PRESSURE_SYS_MIN\"));\nconst maxVal = parseFloat(env.get(\"BLOOD_PRESSURE_SYS_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\n\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 360,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "eefbfe02433ade69",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "create redis request",
        "func": "const { payload, topic, ...otherProps } = msg;\n\nreturn {\n    ...otherProps,\n    sensorData: payload,\n    sensorTopic: topic,\n    command: \"GET\",\n    topic: \"sessionId\",\n    params: [],\n    payload: null\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 480,
        "wires": [
            [
                "4bccb49f56248d61"
            ]
        ]
    },
    {
        "id": "847c8b6f19fb2f14",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "merge result",
        "func": "const sessionId = msg.payload;\nif(sessionId === null) return null;\nmsg.payload = msg.sensorData;\nmsg.topic = msg.sensorTopic;\nmsg.payload.sessionId = sessionId;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "1dc6115f51ef6f06",
                "391af5fd71e431a6",
                "6ef4bbe8a0c417d0",
                "e73cf6ae266459fa",
                "437605c0f9c451e7",
                "4cf09623b6067874",
                "fcef06d1f3e87fdb"
            ]
        ]
    },
    {
        "id": "fcef06d1f3e87fdb",
        "type": "switch",
        "z": "b667b205bc64704e",
        "name": "bp_dia",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vitals/bp_dia",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "c3abefd1b572a76e"
            ]
        ]
    },
    {
        "id": "7d2f48dd7949a190",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"BLOOD_PRESSURE_DIA_MIN\"));\nconst maxVal = parseFloat(env.get(\"BLOOD_PRESSURE_DIA_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 500,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "cb8305ce8f6078f8",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"RESPIRATORY_RATE_MIN\"));\nconst maxVal = parseFloat(env.get(\"RESPIRATORY_RATE_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 780,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "aadf53693b262158",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"BODY_TEMPERATURE_MIN\"));\nconst maxVal = parseFloat(env.get(\"BODY_TEMPERATURE_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 640,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "6dccd31e582c6d9b",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "prepare http request",
        "func": "const baseUrl = env.get(\"API_BASE_URL\");\nconst deviceId = env.get(\"DEVICE_ID\");\nconst apiKey = env.get(\"API_KEY\");\n\nmsg.url = baseUrl + \"/\" + msg.topic;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": apiKey\n};\nmsg.payload = {\n    timestamp: msg.payload.event_ts,\n    type: msg.payload.type,\n    unit: msg.payload.unit,\n    value: msg.payload.value,\n    device_id: deviceId,\n    sessionId: msg.payload.sessionId\n};\nmsg.method = \"POST\";\nmsg.rejectUnauthorized = false;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 640,
        "wires": [
            [
                "e65f863b8f7a7225"
            ]
        ]
    },
    {
        "id": "fe04938caa982bd3",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "prepare zadd request",
        "func": "const p = msg.payload || {};\nconst key = msg.topic.replace(/\\//g, \":\");\n\nconst score = p.event_ts ? Date.parse(p.event_ts) : Date.now();\nif (!Number.isFinite(score)) return null;\n\nconst member = JSON.stringify({\n  ts: p.event_ts,\n  type: p.type,\n  unit: p.unit,\n  value: p.value,\n  sessionId: p.sessionId\n});\n\nmsg.payload = [ key, String(score), member ];\ndelete msg.topic;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 360,
        "wires": [
            [
                "b51cd70a9997b0cd"
            ]
        ]
    },
    {
        "id": "e65f863b8f7a7225",
        "type": "http request",
        "z": "b667b205bc64704e",
        "name": "send http request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1890,
        "y": 640,
        "wires": [
            [
                "2c2320272ae9c0ec"
            ]
        ]
    },
    {
        "id": "4bccb49f56248d61",
        "type": "redis-command",
        "z": "b667b205bc64704e",
        "server": "fdba33394fbf0491",
        "command": "GET",
        "name": "get",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 450,
        "y": 480,
        "wires": [
            [
                "847c8b6f19fb2f14"
            ]
        ]
    },
    {
        "id": "b51cd70a9997b0cd",
        "type": "redis-command",
        "z": "b667b205bc64704e",
        "server": "fdba33394fbf0491",
        "command": "ZADD",
        "name": "redis zadd",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 1870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c013f4adffbbc5e4",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"Heart rate sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"heart_rate\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"bpm\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "3b34c0e8822bfab6"
            ],
            []
        ]
    },
    {
        "id": "7f0021e351573cda",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"glucose sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"glucose\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"mg/dL\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1080,
        "y": 80,
        "wires": [
            [
                "7ad0d9045ab11f3d"
            ],
            []
        ]
    },
    {
        "id": "9ad1df8746066cc4",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"blood_pressure_sys sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"blood_pressure_sys\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"mmHg\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "97537ab81ce50e2a"
            ],
            []
        ]
    },
    {
        "id": "c3abefd1b572a76e",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"blood_pressure_dia sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"blood_pressure_dia\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"mmHg\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "7d2f48dd7949a190"
            ],
            []
        ]
    },
    {
        "id": "b925abb00ac52146",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"body_temperature sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"body_temperature\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"°C\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1140,
        "y": 640,
        "wires": [
            [
                "aadf53693b262158"
            ],
            []
        ]
    },
    {
        "id": "dbcaada2a8fdc10f",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"spo2 sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"spo2\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"%\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1060,
        "y": 920,
        "wires": [
            [
                "59c77081151dd46e"
            ],
            []
        ]
    },
    {
        "id": "9cba47fe2373e035",
        "type": "json-full-schema-validator",
        "z": "b667b205bc64704e",
        "name": "validation",
        "property": "payload",
        "propertyType": "msg",
        "func": "{\n  \"title\": \"respiratory_rate sensor data\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_ts\": { \"type\": \"string\", \"format\": \"date-time\" },\n    \"type\": { \"type\": \"string\", \"enum\": [\"respiratory_rate\"] },\n    \"unit\": { \"type\": \"string\", \"enum\": [\"breaths/min\"] },\n    \"value\": { \"type\": \"number\"},\n    \"sessionId\": { \"type\": \"string\" }\n  },\n  \"required\": [\"event_ts\",\"type\",\"unit\",\"value\",\"sessionId\"],\n  \"additionalProperties\": false\n}\n",
        "x": 1120,
        "y": 780,
        "wires": [
            [
                "cb8305ce8f6078f8"
            ],
            []
        ]
    },
    {
        "id": "59c77081151dd46e",
        "type": "function",
        "z": "b667b205bc64704e",
        "name": "filter",
        "func": "const minVal = parseFloat(env.get(\"SPO2_MIN\"));\nconst maxVal = parseFloat(env.get(\"SPO2_MAX\"));\n\nconst val = parseFloat(msg.payload.value);\n\nif (isNaN(val)) return null;\nif (val < minVal || val > maxVal) return null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 920,
        "wires": [
            [
                "6dccd31e582c6d9b",
                "fe04938caa982bd3"
            ]
        ]
    },
    {
        "id": "2c2320272ae9c0ec",
        "type": "debug",
        "z": "b667b205bc64704e",
        "name": "status code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 640,
        "wires": []
    },
    {
        "id": "612a35a628821d50",
        "type": "inject",
        "z": "9f05951ba788199f",
        "name": "polling",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "487a637200707731"
            ]
        ]
    },
    {
        "id": "487a637200707731",
        "type": "function",
        "z": "9f05951ba788199f",
        "name": "prepare helath request",
        "func": "const baseUrl = env.get(\"API_BASE_URL\");\nconst deviceId = env.get(\"DEVICE_ID\");\nconst apiKey = env.get(\"API_KEY\");\n\nreturn {\n    ...msg,\n    rejectUnauthorized: false,\n    method: \"POST\",\n    url: `${baseUrl}/health`,\n    headers: { \n        \"Content-Type\": \"application/json\",\n        \"Authorization\": apiKey \n    },\n    payload: { deviceId }\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "b05f480afd65e145"
            ]
        ]
    },
    {
        "id": "b05f480afd65e145",
        "type": "http request",
        "z": "9f05951ba788199f",
        "name": "send health request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 180,
        "wires": [
            [
                "a46c94d70bd247fc"
            ]
        ]
    },
    {
        "id": "a46c94d70bd247fc",
        "type": "debug",
        "z": "9f05951ba788199f",
        "name": "status code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    }
]